.box{
    border: 3px solid black;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    background-color: moccasin;
    width:500px;
    
}
h1,h2{
    text-align: center;
}
.circle{
    border: 3px solid black;
    display: inline-block;
    background-color: moccasin;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    width:500px;
}
button{
    margin-left: 180px;
    border-radius: 25px;
    font-size:x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: gray;
    color: white;
}
/* body{
    padding: 10px;
    font-size: x-large;
    margin-left: 200px;
    background-color:lightgrey;
} */
input{
    font-size:  x-large; 
}
#I1{
    width: 150%;
    margin-left: 160px;
}
#forms{
    margin-top: 55px;
    display: flex;
    margin-left: 405px;
}